<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Template by TemplateFusion.org
http://templatefusion.org
Creative Commons Attribution 2.5 Canada License

Name        : Sleek
Description : A nice sleek, clean design.
Notes       : Based off of "splatter" by freecsstemplates.org

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Sleek by TemplateFusion.org</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/twibblr/master.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1>Sleek</h1>
		<p>Brought to you by <a href="http://fusiontemplates.org">Template Fusion</a></p>
  </div>
	<div id="search">
		<form method="get" action="">
			<fieldset>
			<input id="s" type="text" name="s" value="" />
			<input id="x" type="submit" value="Search" />
			</fieldset>
		</form>
	</div>
</div>
<!-- end header -->
<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
			<h1 class="title">What's the catch?</h1>
			<p class="byline"><small>Posted on November 25th, 2007 by <a href="http://sean-pollock.com">Sean</a> | <a href="#">Edit Post</a></small></p>
			<div class="entry">
			  <p>This is a free template released by <a href="http://templatefusion.org">Template Fusion</a> for personal or commercial use. It is licensed under the <a rel="license" href="http://creativecommons.org/licenses/by/2.5/ca/">Creative Commons Attribution 2.5 Canada License</a>. That pretty much means you can use it in any way you want, but you MUST have &quot;attribution&quot; to <a href="http://templatefusion.org">TemplateFusion</a>, in the form of a link.</p>
		  </div>
		  <p class="meta"><a href="#" class="more">Read More</a> &nbsp;&nbsp;&nbsp; <a href="#" class="comments">Comments (1337)</a></p>
	  </div>
		<div class="post">
			<h2 class="title">Some Code Examples </h2>
		  <p class="byline"><small>Posted on November 25th, 2007 by <a href="http://sean-pollock.com">Sean</a> | <a href="#">Edit Post</a></small>		  </p>
		  <h3>Code</h3>
			<p><code>
			code-sample { <br />
			font-weight: bold;<br />
			font-style: italic;<br />
			}
			</code></p>

			<h3>Example Lists</h3>


			<ol>
				<li>Here is an example</li>
				<li>of an ordered list</li>
			</ol>
			<ul>
				<li>Here is an example</li>
				<li>of an unordered list</li>
			</ul>

			<h3>Blockquote</h3>
			<blockquote>
			  <p>A blockquote is meant to seperate a quote or important part of text from the main text body. A stylish blockquote does that with flair. </p>
			</blockquote>


			<h3>Image and text</h3>
			<p><a href="http://templatefusion.org/"><img src="/twibblr/templatefusion.jpg" alt="Template Fusion - Free CSS templates" width="120" height="120" class="float-left" /></a>
			If you want to align an image to the right or the left of your text, simply add class=&quot;float-right&quot; or class=&quot;float-left&quot; in your &lt;img&gt; tag. If you want to align DIV or &lt;P&gt; tags to anything, simply add class=&quot;align-left&quot;, or class=&quot;align-right&quot; to your &lt;p&gt; or &lt;div&gt; tag. </p>

			<h3>Table Styling</h3>

			<table>
				<tbody><tr>
					<th><strong>post</strong> date</th>

					<th>title</th>
					<th>description</th>
				</tr>
				<tr>
					<td>04.18.2007</td>
					<td><a href="index.html">Augue non nibh</a></td>
					<td><a href="index.html">Lobortis commodo metus vestibulum</a></td>

				</tr>
				<tr>
					<td>04.18.2007</td>
					<td><a href="index.html">Fusce ut diam bibendum</a></td>
					<td><a href="index.html">Purus in eget odio in sapien</a></td>
				</tr>
				<tr>

					<td>04.18.2007</td>
					<td><a href="index.html">Maecenas et ipsum</a></td>
					<td><a href="index.html">Adipiscing blandit quisque eros</a></td>
				</tr>
				<tr>
					<td>04.18.2007</td>
					<td><a href="index.html">Sed vestibulum blandit</a></td>

					<td><a href="index.html">Cras lobortis commodo metus lorem</a></td>
				</tr>
			</tbody></table>

			<h3>Example Form</h3>
			<form method="get" action="#">
			<p>
				<label>Name</label>
				<input style="background-color: rgb(255, 255, 160);" name="dname" value="Your Name" size="30" type="text" />

				<label>Email</label>
				<input style="background-color: rgb(255, 255, 160);" name="demail" value="Your Email" size="30" type="text" />
				<label>Your Comments</label>
				<textarea rows="5" cols="5"></textarea>
				<br />
				<input class="button" type="submit" />
			</p>
			</form>

		  <p class="meta"><a href="#" class="more">Read More</a> &nbsp;&nbsp;&nbsp; <a href="#" class="comments">Comments (7331)</a></p>
		</div>
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>
			<li>
				<h2>Updates:</h2>
				<ul>
					<li><a href="#">Wow my site looks good!</a></li>
					<li><a href="#">New Template up!</a></li>
				  <li><a href="#">Found one</a></li>
					<li><a href="#">Looking for a nice template</a></li>
					<li><a href="#">Site Finished</a></li>
					<li><a href="#">Site Launched</a></li>
				</ul>
			</li>
			<li>
				<h2>Cool Links!</h2>
				<ul>
					<li><a href="http://templatefusion.org">Template Fusion</a></li>
					<li><a href="http://sean-pollock.com">Sean Pollock</a></li>
					<li><a href="http://learn-poetry.com">Learn How to Write Poetry</a></li>
					<li><a href="http://whois-it.info">Whois-it.info</a></li>
					<li><a href="http://tutorialfusion.org">Tutorial Fusion</a></li>
					<li><a href="http://pcsafetycenter.com">PC: Safety Center</a></li>
				</ul>
			</li>
		</ul>
  </div>
  <!-- end sidebar -->
</div>
<!-- end page -->
<div id="footer">
	<p>&copy;2007 All Rights Reserved. &nbsp;&bull;&nbsp; Design by <a href="http://templatefusion.org">TemplateFusion</a> &nbsp;&bull;&nbsp; Icons by <a href="http://www.famfamfam.com/">FAMFAMFAM</a>.</p>
</div>
</body>
</html>