<!DOCTYPE html> <!-- HTML 5 -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
  <head>
    <title>Twibblr</title>
    <link rel="stylesheet" href="/twibblr/master.css" type="text/css" media="screen" title="Master Twibblr CSS" charset="utf-8" />
  </head>
  <body>
    <header></header>
    <nav></nav>
    <section>
      <%= yield %>
    </section>
    <nav></nav>
  </body>
</html>